:root {
  --main-nav-height: 3.5rem;
}

.main-nav {
  height: var(--main-nav-height);
}

.mini-divider {
  width: 1px;
}

.search-box {
  cursor: pointer;
  user-select: none;
  font-weight: 500;
}

.search-icon {
  height: 1.25rem;
}

.main-nav-list {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  font-weight: 500;
}

.main-nav-list-item {
  position: relative;
  height: var(--main-nav-height);
}

.main-nav-link {
  height: var(--main-nav-height);
  text-decoration: none;
  height: var(--main-nav-height);
  font-size: 15px;
}

.main-nav-link.active {
  border-bottom: 2px solid #ff4758;
}

.main-nav-link:hover + .main-nav-dropbox-list {
  visibility: visible;
}

.main-nav-dropbox-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  visibility: hidden;
  transition: 100ms;
  margin-top: 2px;
  border: 1px solid #efefef;
  overflow: hidden;
  border-radius: 4px;
}

.main-nav-dropbox-list:hover {
  visibility: visible;
}

.main-nav-dropbox-link {
  font-size: 14px;
  text-decoration: none;
  background-color: white;
}

.chevron-down-icon {
  margin-left: 0.5rem;
  height: 1.25rem;
}

.placeholder-profile-image {
  height: 1.75rem;
  border-radius: 1000px;
}

.nav-button {
  height: 1.75rem;
  border: none;
  padding: 0.375rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
  font-size: 14px;
}

.nav-button:hover {
  background-color: #ddd;
}

.nav-button img {
  height: 1rem;
}

.hamburger {
  width: 38px;
  height: 38px;
  position: relative;
  cursor: pointer;
}

.hamburger.hidden {
  display: none;
}

.hamburger-bar {
  display: block;
  height: 2px;
  width: 26px;
  position: absolute;
  transition: 300ms;
}

.hamburger-bar:nth-child(1) {
  top: 13px;
  left: 0;
}

.hamburger-bar:nth-child(2) {
  bottom: 13px;
  right: 0;
}

.hamburger.open .hamburger-bar {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ff4758 !important;
}

.hamburger.open .hamburger-bar:nth-child(1) {
  transform: translate(-50%, -50%) rotate(45deg);
}

.hamburger.open .hamburger-bar:nth-child(2) {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.btn.bold {
  font-weight: 600;
}

.mobile-nav.hidden {
  visibility: hidden;
  opacity: 0;
}

.mobile-nav {
  background-color: white;
  position: absolute;
  top: var(--main-nav-height);
  left: 0;
  height: 300px;
  width: 100vw;
  transition: 500ms;
  z-index: 10;
}

.mobile-dropdown-link {
  display: block;
  height: var(--main-nav-height);
  font-size: 15px;
}

.section {
  padding: 1rem 0;
}

.trust-pilot-logo {
  width: 100px;
}

.hero-images-grid {
  border-radius: 1rem;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 200px);
  gap: 2px;
}

.hero-images-grid img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.hero-images-grid img:nth-child(1) {
  grid-column: span 4;
}

.hero-images-grid img:nth-child(2) {
  grid-column: span 2;
}

.hero-images-grid img:nth-child(3) {
  grid-column: span 2;
}

.hero-images-grid img:nth-child(4) {
  display: none;
}

@media screen and (min-width: 1120px) {
  .hero-images-grid img:nth-child(1) {
    grid-column: span 2;
    grid-row: span 2;
  }
  .hero-images-grid img:nth-child(2) {
    grid-column: span 1;
    grid-row: span 2;
  }
  .hero-images-grid img:nth-child(3) {
    grid-column: span 1;
  }
  .hero-images-grid img:nth-child(4) {
    display: block;
  }
}
.departure-icon {
  width: 1.125rem;
}

.klarna-logo {
  height: 1rem;
}

.circle-30 {
  --degrees: calc(30 / 100 * 360deg);
}

.circle-10 {
  --degrees: calc(10 / 100 * 360deg);
}

.circle-60 {
  --degrees: calc(60 / 100 * 360deg);
}

.circle-80 {
  --degrees: calc(80 / 100 * 360deg);
}

.percentage-item-green {
  --percentage-item-color: rgb(139, 197, 62);
}

.percentage-item-blue {
  --percentage-item-color: rgb(64, 176, 237);
}

.percentage-item-yellow {
  --percentage-item-color: #fbc03b;
}

.percentage-item-orange {
  --percentage-item-color: #f58e39;
}

.percentage-item-purple {
  --percentage-item-color: #6447cc;
}

.circle-item {
  height: 105px;
  width: 105px;
  display: flex;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.semi-circle {
  height: 100%;
  width: 50%;
  overflow: hidden;
}

.circle-item::after {
  position: absolute;
  display: block;
  content: "";
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.circle-item::before {
  position: absolute;
  display: block;
  content: "";
  height: 20px;
  width: 2px;
  background-color: white;
  top: 0;
  left: 50%;
  z-index: 1;
}

.semi-circle.left .semi-circle-fill {
  background-color: var(--percentage-item-color);
  transform-origin: left 50%;
  transform: translateX(100%) rotate(max(0deg, var(--degrees) - 180deg));
}

.semi-circle.right .semi-circle-fill {
  background-color: var(--percentage-item-color);
  transform-origin: right 50%;
  transform: translateX(-100%) rotate(min(var(--degrees), 180deg));
}

.semi-circle-fill {
  height: 100%;
  width: 100%;
}

.circle {
  position: relative;
  width: 105px;
}

.percentage-item-icon {
  height: 54px;
  width: 54px;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.percentage-number {
  font-size: 15px;
  color: var(--percentage-item-color);
}

.percentage-section {
  padding: 4rem 0;
}

.fs-14 {
  font-size: 14px;
}

.breakdown-icon {
  width: 2rem;
}

.excellent-star {
  width: 2rem;
  height: 2rem;
}

.excellent-star-sm {
  width: 1rem;
  height: 1rem;
}

.trust-pilot-logo-excellent {
  width: 100px;
}

.section-map {
  padding: 5rem 0;
  background-color: #171717;
  background-image: url("/assests/img/map-light.png");
  background-repeat: repeat;
  background-size: 40%;
  background-blend-mode: overlay;
}

.map-image {
  border-radius: 1.5rem;
}

.trip-plan-list li::marker {
  color: red;
}

.trip-plan-list li:not(:first-child) {
  list-style-type: circle;
}

.section-travel-cordinates {
  padding: 5rem 0;
}

.coordinators-wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  display: flex;
}

.coordinator-img:nth-child(1) {
  margin-left: 0;
}

.coordinator-img:nth-child(2) {
  margin-left: -6.5%;
}

.coordinator-img:nth-child(3) {
  margin-left: -6.5%;
}

.coordinator-img:nth-child(4) {
  margin-left: -6.5%;
}

.coordinator-img {
  border-radius: 1000px;
  width: 30%;
  border: 4px solid white;
  position: relative;
  object-fit: cover;
}

/*# sourceMappingURL=custom.css.map */
